* {
  box-sizing: border-box;
}

body {
  background:blue;
  font-family: avenir;
}

.wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcome {
  color: white;
  font-size: 2rem;
border: 1px solid black;}
